extends layout
block content
  br
  div.p Possible Recyclable goods put in Trashè
    image(src='/img/bin.png' style='max-height: 50px;')
  br
  form(action="/resolvetrashe", method="post")
    table.table.table-striped.table-bordered
      tr
        td Category
        td Probability
        td Date
        td Resolved
      if (typeof trashe === "undefined")
        tr
          td
      else
        each item in trashe
          tr
            td #{item.prediction}
            if(item.probability > 0.65)
              td.table-warning #{item.probability}
            else if(item.probability > 0.60 && item.probability < 0.65)
              td.table-info #{item.probability}
            else
              td #{item.probability}
            - var date  = new Date(item.timestamp);
            - var day   = date.getDate();
            - var month = date.getMonth() + 1;
            - var year  = date.getFullYear();
            - var hours = date.getHours();
            - var min   = date.getMinutes();
            - var sec   = date.getSeconds();
            td #{month + "/" + day + "/" + year + " " + hours + ":" + min + ":" + sec}
            td
              if(item.resolved)
                input(type="checkbox", name="#{item.id}", value="#{!item.resolved}", checked=item.resolved)
              else
                input(type="checkbox", name="#{item.id}", value="#{!item.resolved}", checked=item.resolved)
    i Once Resolved, update the status to resolved
    hr
    button.btn.btn-dark(type="submit") Update items
  hr
